[submodule "scripts/InkscapeConverter"]
	path = scripts/InkscapeConverter
	url = https://gist.github.com/0965be641547b34618926d404773cd94.git
[submodule "scripts/Dropbox-Uploader"]
	path = scripts/Dropbox-Uploader
	url = https://github.com/andreafabrizi/Dropbox-Uploader.git
