# blacklist
branches:
  except:

# whitelist
branches:
  only:
    - master
    - travis-integration

cache:
  directories:
  - "/home/travis/sumdoc/"
sudo: required
services:
- docker
before_install:
- docker pull sumdoc/texlive-2017
- docker run -d --name ubuntu-test -v $(pwd):/travis sumdoc/texlive-2017 tail -f /dev/null
- docker ps
script:
- docker exec -t ubuntu-test bash -c "cd travis; pdflatex -shell-escape -recorder
  -synctex=1 -interaction=nonstopmode -output-directory=./build/ LatexVorlage.tex;
  pdflatex -shell-escape -recorder -synctex=1 -interaction=nonstopmode -output-directory=./build/
  LatexVorlage.tex; biber --output_directory ./build/ LatexVorlage; biber --output_directory
  ./build/ LatexVorlage; makeglossaries ./build/LatexVorlage.idx; pdflatex -shell-escape
  -recorder -synctex=1 -interaction=nonstopmode -output-directory=./build/ LatexVorlage.tex"
notifications:
  email: false

deploy:
  provider: releases
  api_key:
    secure: NphQ8EAmIv1NiYwkZ1Ay0Kqy+yoNvFZ+MB3wtEGYAHy5tKg9SdF1L5awo3oGnf7mQSiP7UaOZhUbe4NgvsMQMvxxox/aAYQBroHXbZDE/vaxAUeQ+UX3NQPbStfdnNGYEsXuMNvEUPfS31w7jP7Im1FFWHNrPBDKBgot+vO6IP2GP2eQCyUPG0VSTQa5+JFfdz1zkIjPBXTTVHWbfKivSMDNKoqAIYxKzWtjuH6iajHCNZVTrGsm7EOauIul7KVeuPASlfwo1fORAGpVuavHf8JDMd+Wh39VUOqMN7+AxpP0oOis4rh4svn8/tpFq7SzQUrTeh8RJgDIqKGoRLBTpgZZzrACf1JAQAya4C7whjtvhI2Wv3H7VvNPJZ38VH+Zicyg8+VNotKcC1jszimPAUWFr6cDakkOeSQNGvBUNAzaL3riOUtL45cqPt2bawTAqsP/PvcPkGcpbdHtJ2Tvsi551NeD0MP/wA5Gll245lUGu36Q19vWiX3MMLY+GCrz9r2foJKi1v5qA8mLns63f6Z+Ceu6RswetGHNOCC0sSfVDEdllQM2R+1OZr44IicZzhxP+kfsUtBOEubayBHvMq/Lpkah+hngUJzrqlZfEqTFb4SisqJwGoh5DPfUTI0ffKDjgrVq1D8/Vq3nHHQNK9yL6ZLVRWMZ4KqQ7wm5nyw=
  file: "./build/LatexVorlage.pdf"
  skip_cleanup: true
  on:
    repo: pasrom/FHV-Latex
    tags: true
