# blacklist
branches:
  except:

# whitelist
branches:
  only:
    - master
    - fix-lol-loa
sudo: required

env:
  global:
    - PATH_TO_UPLOADER="./scripts/Dropbox-Uploader/dropbox_uploader.sh"
services:
- docker
git:
  submodules: false
before_install:
- git submodule update --init --recursive
- if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then
    echo enable dropbox uploader!;
    openssl aes-256-cbc -K $encrypted_05f0f0336636_key -iv $encrypted_05f0f0336636_iv -in .dropbox_uploader.enc -out ~/.dropbox_uploader -d;
  fi
- docker pull sumankhanal/texlive-2018
- docker run -d --name ubuntu-test -v $(pwd):/travis sumankhanal/texlive-2018 tail -f /dev/null
- docker exec -t ubuntu-test bash -c "tlmgr update --self"
- docker exec -t ubuntu-test bash -c "tlmgr update --all"
- docker ps
before_script:
- export SHORT_COMMIT="$(git rev-parse --short $TRAVIS_COMMIT)"
script:
- docker exec -t ubuntu-test bash -c "apt-get update && apt-get -y install ghostscript make git"
- docker exec -t ubuntu-test bash -c "cd /travis;
    make clean;
    make FHVMODE=1 LANGUAGE=ngerman > log.txt;
    cp build/LatexVorlage.pdf build/artifacts/${TRAVIS_BRANCH}/${SHORT_COMMIT}-DE_DOC_LatexVorlage-${TRAVIS_JOB_NUMBER}.pdf;
    cp log.txt build/artifacts/${TRAVIS_BRANCH}-${TRAVIS_JOB_NUMBER}-${SHORT_COMMIT}_DE_DOC_LatexVorlage.txt;"
- if [ "$TRAVIS_BRANCH" = "master" ] && [ "$TRAVIS_PULL_REQUEST" = "false" ]; then
  bash scripts/dropbox_uploader_deleting.sh;
    $PATH_TO_UPLOADER upload build/LatexVorlage.pdf /${SHORT_COMMIT}-DE_DOC_LatexVorlage-latest.pdf;
  fi

- docker exec -t ubuntu-test bash -c "cd /travis;
  make clean;
  make FHVMODE=3 LANGUAGE=ngerman > log.txt;
  cp build/LatexVorlage.pdf build/artifacts/${SHORT_COMMIT}-DE_SUMMARY_LatexVorlage-${TRAVIS_JOB_NUMBER}.pdf;
  cp log.txt build/artifacts/${TRAVIS_BRANCH}-${TRAVIS_JOB_NUMBER}-${SHORT_COMMIT}_DE_SUMMARY_LatexVorlage.txt;"
- if [ "$TRAVIS_BRANCH" = "master" ] && [ "$TRAVIS_PULL_REQUEST" = "false" ]; then
    $PATH_TO_UPLOADER upload build/LatexVorlage.pdf /${SHORT_COMMIT}-DE_SUMMARY_LatexVorlage-latest.pdf;
  fi

- docker exec -t ubuntu-test bash -c "cd /travis;
  make clean;
  make FHVMODE=5 LANGUAGE=ngerman > log.txt;
  cp build/LatexVorlage.pdf build/artifacts/${SHORT_COMMIT}-DE_PRESENTATION_LatexVorlage-${TRAVIS_JOB_NUMBER}.pdf;
  cp log.txt build/artifacts/${TRAVIS_BRANCH}-${TRAVIS_JOB_NUMBER}-${SHORT_COMMIT}_DE_PRESENTATION_LatexVorlage.txt;"
- if [ "$TRAVIS_BRANCH" = "master" ] && [ "$TRAVIS_PULL_REQUEST" = "false" ]; then
    $PATH_TO_UPLOADER upload build/LatexVorlage.pdf /${SHORT_COMMIT}-DE_PRESENTATION_LatexVorlage-latest.pdf;
  fi

- docker exec -t ubuntu-test bash -c "cd /travis;
  make clean;
  make FHVMODE=9 LANGUAGE=ngerman > log.txt;
  cp build/LatexVorlage.pdf build/artifacts/${SHORT_COMMIT}-DE_PAPER_LatexVorlage-${TRAVIS_JOB_NUMBER}.pdf;
  cp log.txt build/artifacts/${TRAVIS_BRANCH}-${TRAVIS_JOB_NUMBER}-${SHORT_COMMIT}_DE_PAPER_LatexVorlage.txt;"
- if [ "$TRAVIS_BRANCH" = "master" ] && [ "$TRAVIS_PULL_REQUEST" = "false" ]; then
    $PATH_TO_UPLOADER upload build/LatexVorlage.pdf /${SHORT_COMMIT}-DE_PAPER_LatexVorlage-latest.pdf;
  fi

- docker exec -t ubuntu-test bash -c "cd /travis;
  make clean;
  make FHVMODE=2 LANGUAGE=ngerman > log.txt;
  cp build/LatexVorlage.pdf build/artifacts/${SHORT_COMMIT}-DE_LatexVorlage-${TRAVIS_JOB_NUMBER}.pdf;
  cp log.txt build/artifacts/${TRAVIS_BRANCH}-${TRAVIS_JOB_NUMBER}-${SHORT_COMMIT}_DE_LatexVorlage.txt;"
- if [ "$TRAVIS_BRANCH" = "master" ] && [ "$TRAVIS_PULL_REQUEST" = "false" ]; then
    $PATH_TO_UPLOADER upload build/LatexVorlage.pdf /${SHORT_COMMIT}-DE_LatexVorlage-latest.pdf;
  fi

- docker exec -t ubuntu-test bash -c "cd /travis;
  make clean;
  make FHVMODE=2 LANGUAGE=english > log.txt;
  cp build/LatexVorlage.pdf build/artifacts/${SHORT_COMMIT}-EN_LatexVorlage-${TRAVIS_JOB_NUMBER}.pdf;
  cp log.txt build/artifacts/${TRAVIS_BRANCH}-${TRAVIS_JOB_NUMBER}-${SHORT_COMMIT}_EN_LatexVorlage.txt;"
- if [ "$TRAVIS_BRANCH" = "master" ] && [ "$TRAVIS_PULL_REQUEST" = "false" ]; then
    $PATH_TO_UPLOADER upload build/LatexVorlage.pdf /${SHORT_COMMIT}-EN_LatexVorlage-latest.pdf;
  fi

- docker exec -t ubuntu-test bash -c "cd /travis;
  make clean;
  make FHVMODE=2 LANGUAGE=ngerman FHVTITLEPAGE=fhv > log.txt;
  cp build/LatexVorlage.pdf build/artifacts/${SHORT_COMMIT}-DE_LatexVorlage-fhv-${TRAVIS_JOB_NUMBER}.pdf;
  cp log.txt build/artifacts/${TRAVIS_BRANCH}-${TRAVIS_JOB_NUMBER}-${SHORT_COMMIT}_DE_LatexVorlage-fhv.txt;"
- if [ "$TRAVIS_BRANCH" = "master" ] && [ "$TRAVIS_PULL_REQUEST" = "false" ]; then
    $PATH_TO_UPLOADER upload build/LatexVorlage.pdf ${SHORT_COMMIT}-DE_LatexVorlage-fhv-latest.pdf;
  fi

- docker exec -t ubuntu-test bash -c "cd /travis;
  make clean;
  make FHVMODE=2 LANGUAGE=english FHVTITLEPAGE=fhv > log.txt;
  cp build/LatexVorlage.pdf build/artifacts/${SHORT_COMMIT}-EN_LatexVorlage-fhv-${TRAVIS_JOB_NUMBER}.pdf;
  cp log.txt build/artifacts/${TRAVIS_BRANCH}-${TRAVIS_JOB_NUMBER}-${SHORT_COMMIT}_EN_LatexVorlage-fhv.txt;"
- if [ "$TRAVIS_BRANCH" = "master" ] && [ "$TRAVIS_PULL_REQUEST" = "false" ]; then
    $PATH_TO_UPLOADER upload build/LatexVorlage.pdf /${SHORT_COMMIT}-EN_LatexVorlage-fhv-latest.pdf;
  fi
- if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then
    $PATH_TO_UPLOADER upload build/artifacts/*.pdf ${TRAVIS_BRANCH}/ && $PATH_TO_UPLOADER upload build/artifacts/*.txt;
  fi
notifications:
  email: false
deploy:
  provider: releases
  api_key:
    secure: NphQ8EAmIv1NiYwkZ1Ay0Kqy+yoNvFZ+MB3wtEGYAHy5tKg9SdF1L5awo3oGnf7mQSiP7UaOZhUbe4NgvsMQMvxxox/aAYQBroHXbZDE/vaxAUeQ+UX3NQPbStfdnNGYEsXuMNvEUPfS31w7jP7Im1FFWHNrPBDKBgot+vO6IP2GP2eQCyUPG0VSTQa5+JFfdz1zkIjPBXTTVHWbfKivSMDNKoqAIYxKzWtjuH6iajHCNZVTrGsm7EOauIul7KVeuPASlfwo1fORAGpVuavHf8JDMd+Wh39VUOqMN7+AxpP0oOis4rh4svn8/tpFq7SzQUrTeh8RJgDIqKGoRLBTpgZZzrACf1JAQAya4C7whjtvhI2Wv3H7VvNPJZ38VH+Zicyg8+VNotKcC1jszimPAUWFr6cDakkOeSQNGvBUNAzaL3riOUtL45cqPt2bawTAqsP/PvcPkGcpbdHtJ2Tvsi551NeD0MP/wA5Gll245lUGu36Q19vWiX3MMLY+GCrz9r2foJKi1v5qA8mLns63f6Z+Ceu6RswetGHNOCC0sSfVDEdllQM2R+1OZr44IicZzhxP+kfsUtBOEubayBHvMq/Lpkah+hngUJzrqlZfEqTFb4SisqJwGoh5DPfUTI0ffKDjgrVq1D8/Vq3nHHQNK9yL6ZLVRWMZ4KqQ7wm5nyw=
  file: "./build/LatexVorlage.pdf"
  skip_cleanup: true
  on:
    repo: pasrom/FHV-Latex
    tags: true
